.datepicker {
  background-color: #026291;
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 4px;
}

.react-datepicker__header {
  background-color: #026291;
  color: white;

}

.react-datepicker__day--selected {
  background-color: #1976d2;
}

.react-datepicker__input-container input {
  background-color: #026291;
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 4px;
}

.react-datepicker__input-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
}